# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
env/
venv/
ENV/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Django specific
*.log
*.pot
*.py,cover
local_settings.py
media/
staticfiles/

# Migrations (optional: keep if you want history in repo)
**/migrations/*.py
!**/migrations/__init__.py

# Render & deployment
*.pid
*.sock
*.mo
*.pot
